<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module_mine">

    <application
        android:allowBackup="true"
        android:appComponentFactory="ss111"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge"
        android:supportsRtl="true"
        tools:replace="android:theme,android:appComponentFactory">
        <activity
            android:name=".Activity.Module_MineActivity"
            android:persistableMode="persistAcrossReboots"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>