<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module_mine">

    <application
        android:theme="@style/Theme.Design.Light.NoActionBar"

        android:allowBackup="true">

        <activity android:name=".Module_MineActivity"></activity>

    </application>

</manifest>